<div class="notelist-feed project-item">
    <div class="project-content">
        <p class="project-title">
        {%- if include.note.link and include.note.link != "" -%}
            <a href="{{ include.note.link }}" target="_blank" rel="noopener">{{ include.note.meta-publisher }}: {{ include.note.title }}</a>
        {%- else -%}
            {{ include.note.title }}
        {%- endif -%}
        </p>
        {%- if include.note.content -%}
            <p class="project-description">{{ include.note.content | strip_html | truncatewords: 30 }}</p>
        {%- endif -%}
    </div>
    
    {%- if include.note.period -%}
        <div class="project-period">
            {%- assign date = include.note.period | date: "%Y-%m-%d" -%}
            {%- assign month = date | date: "%B" -%}
            {%- assign year = date | date: "%Y" -%}
            <span class="period-pill">{{ month }} {{ year }}</span>
        </div>
    {%- endif -%}
</div> 