<div class="feed-container">
{% if include.category == "[[Projects]]" %}
    {% assign filtered_notes = site.notes | where: "category", include.category | sort: "period" | reverse %}
{% else %}
    {% assign filtered_notes = site.notes | where: "category", include.category | sort: "date" | reverse %}
{% endif %}
{% for note in filtered_notes %}
    {%- if note.feed == "show" or include.show_all == true -%}
        {%- if include.category == "[[Projects]]" -%}
            {%- include ProjectItem.html note=note -%}
        {%- else -%}
            {%- include NoteItem.html note=note -%}
        {%- endif -%}
    {%- endif -%}
{%- endfor -%}
</div> 